.header
	background-color: #0B3157
	width: 375px
	top: 0px
	position: absolute
	z-index: 10
	transition: all 0.3s ease
	.top
		display: flex
		height: 40px
		justify-content: space-between
		align-items: center
		.prev
			color: #48C1C2
			font-family: "Montserrat", sans-serif
			font-size: 12px
			font-weight: 700
			line-height: 14px
			width: 59px
			text-align: left
			padding: 10px
			cursor: pointer
			user-select: none
		.middle
			display: flex
			flex-direction: row
			align-items: center
			.position
				color: #FFFFFF
				font-family: "Montserrat", sans-serif
				font-size: 16px
				font-weight: 800
				line-height: 19px
				text-align: center
			.arrow
				width: 20px
				height: 15px
				background: url(../../assets/img/chevron-down.png) center
				background-size: cover
				margin-left: 5px
				opacity: 0.5
				cursor: pointer
				filter: invert(100%)
			.arrow-up
				width: 20px
				height: 15px
				background: url(../../assets/img/chevron-down.png) center
				background-size: cover
				margin-left: 5px
				opacity: 0.5
				cursor: pointer
				filter: invert(100%)
				transform: rotate(180deg)
		.next
			color: #48C1C2
			font-family: "Montserrat", sans-serif
			font-size: 12px
			font-weight: 700
			line-height: 14px
			width: 66px
			text-align: right
			padding: 10px
			cursor: pointer
			user-select: none
	.buttons
		display: none
		height: 44px
		align-items: center
		justify-content: space-around
		transition: all 0.3s ease
		.button
			display: flex
			border: 1px solid #E8E9EB
			margin: 0px 1px
			border-radius: 30px
			opacity: 0.25
			width: 103px
			height: 30px
			align-items: center
			justify-content: center
			cursor: pointer
			span
				font-weight: 400
				color: #E8E9EB
				font-family: "Montserrat", sans-serif
				font-size: 14px
				line-height: 17px
				opacity: 0.5
				user-select: none
			&:hover
				border: 2px solid #E8E9EB
				margin: 0px 0px
				span
					opacity: 1
.days
	display: flex
	background-color: #0B3157
	width: 375px
	height: 20px
	justify-content: space-around
	align-items: center
	margin-top: 40px
	p
		color: #FFFFFF
		font-family: "Montserrat", sans-serif
		font-size: 11px
		font-weight: 400
		line-height: 13px
		opacity: 0.5
		width: 40px
		text-align: center
.numberContainer
	width: 375px
	overflow: hidden
	.numbers
		display: flex
		background-color: #FFFFFF
		width: 375px
		transition: all 1s ease
		justify-content: space-around
		.number
			margin-top: 5px
			p
				font-family: "Montserrat", sans-serif
				font-size: 15px
				font-weight: 600
				line-height: 7px
				width: 40px
				text-align: center
				cursor: pointer