.header
	background-image: linear-gradient(0deg, #1B6090 0%, #0B3157 100%)
	width: 375px
	height: 40px
	display: flex
	justify-content: space-between
	align-items: center
	.prev
		color: #48C1C2
		font-family: "Montserrat"
		font-size: 20px
		font-weight: 700
		line-height: 14px
		width: 59px
		text-align: left
		padding: 10px
		cursor: pointer

	.position
		color: #FFFFFF
		font-family: Montserrat
		font-size: 15px
		font-weight: 800
		line-height: 19px
		text-align: center
	.next
		color: #48C1C2
		font-family: "Montserrat"
		font-size: 20px
		font-weight: 700
		line-height: 14px
		width: 66px
		text-align: right
		padding: 10px
		cursor: pointer
.days
	display: flex
	background-image: linear-gradient(0deg, #1B6090 0%, #0B3157 100%)
	width: 375px
  	height: 7px
	justify-content: space-around
	p
		color: #FFFFFF
		font-family: Montserrat
		font-size: 12px
		font-weight: 400
		line-height: 7px
		opacity: 0.5
		width: 40px
		text-align: center
.numbers 
	display: flex
	background-image: #FFFFFF
	width: 375px
  	height: 7px
	justify-content: space-around
	.number
		color: #000000
		font-family: Montserrat
		font-size: 15px
		font-weight: 600
		line-height: 7px
		width: 40px
		text-align: center
		transition: all 1s ease
		cursor: pointer